body {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(39, 0, 33);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(56, 56, 56);
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}

img {
    width: 10%;
    margin-left: 10%;
}

nav {
    margin-right: 20%;
    display: flex;
    gap: 20%;
}

a {
    color: white;
    text-decoration: none;
}